<h1><u>Upload your Documents to become a Premium User</u></h1>
<form action="/api/users/{{user}}/documents" method="POST" enctype="multipart/form-data">
    <h3>Indentification:</h3>
    <input type="file" name="account" multiple> <br>
    <h3>Adress:</h3>
    <input type="file" name="adress" multiple> <br>
    <h3>Account status:</h3>
    <input type="file" name="info" multiple> <br>

    <input type="submit" value="Upload">
</form>

<a href="/products"><- Go back</a>