Please, type in your email and we will send you an email to recover your password
<form action="/auth/recovery" method="POST">
    <input type="text" name="email" placeholder="youremail@email.com"><br>
    <button onclick="summit">Recover</button>
</form>
<br>
<a href="/auth/login">go back</a>