Please enter your new password
<form action="/auth/password-new" method="POST">
    <input type="password" name="password" placeholder="new password"><br>
    <input type="hidden" name="email" value="{{email}}">
    <button onclick="summit">send</button>
</form>