Please check your email and write the code we sent you to proceed and change your password:
<form action="/auth/password-reset" method="POST">
    <input type="text" name="code" placeholder="enter your code"><br>
    <button onclick="summit">send</button>
</form>