<a href="/api/users/profile"> Go back </a>
<h2> Here's a list with all listed products </h2>
{{#each list}}
<li>
    {{this}}
</li>
{{/each}}
<hr>

<form id="prod-form">
    <h3>Paste the id of the product you want to delete</h3>
    <input type="text" id="prod-id" placeholder="product ID"> <br>
    <button onclick="submit">DELETE</button>
</form>

<div>

</div>

<script src="/js/views.js"></script>